.logo{width: 100px;}
h1 {font-family:cursive;
    color: white;
    font-size: 30px;
    border: 3px;
    display:inline-block;
    padding: 5px;
    border: 3px;}

    body{background-image: url(../img/fundo.jpeg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
fieldset{
    align-self:center;
    height: 150px;
    border:3px solid; 
    width:50%;
    background-color: rgba(240, 240, 240, 0.5); 
    border-radius: 50px;
    
}
legend{color:white ;font-family: fantasy;}
    




form input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 30px;
    border-color: black;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
}